.encabezado {
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: rgb(93, 89, 89);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cuadrado-sup-izq {
    height: 8vh;
    width: 17vw;
    background-color: rgb(214, 172, 31);
    margin-left: 2vw;
}

.contenedor-cuadrados-dch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cuadrado-sup-dch {
    margin-right: 2vw;
    height: 3vh;
    width: 12vw;
    background-color: white;
}

.cuadrado-pequeño {
    height: 3vh;
    width: 6vw;
    background-color: rgb(214, 172, 31);
    margin-right: 2vw;
}

.barra-navegacion {
    background-color: #d3d3d3; 
    margin-left: 15vw;
    margin-right: 15vw;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-contenedor {
    display: flex;
    gap: 10px; 
}

.nav-boton {
    width: 80px;
    height: 8px;
    background-color: #5c5f68; 
    margin-top: 19px; 
    margin-left: 1.5vw;
}

.nav-boton.activo {
    height: 50px;
    width: 110px;
    background-color: #373b42; 
    margin-top: 0; 
    margin-left: 2vw;
}
.seccion-principal {
    display: flex;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: #f3f3f3; 
}

.columna-izquierda, .columna-derecha {
    width: 48%;
    margin-top: 10vh;
}
.columna-derecha {
    width: 48%;
    margin-top: 10vh;
}

.cuadro-izq {
    background-color: #5c5f68; 
    width: 250px;
    height: 150px;
    margin-bottom: 2vw;
}

.titulo-izq {
    width: 50%;
    height: 15px;
    background-color: #f3b54a; 
    margin-bottom: 15px;
    margin-left: 50px;
}

.linea-blanca {
    height: 8px;
    background-color: white;
    margin-bottom: 15px;
    width: 90%;
    margin-left: 15px;
}

.linea-blanca.corta {
    width: 60%;
}
.columna-derecha {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fila-texto-cuadro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.bloque-texto {
    width: 60%;
}

.linea-titulo-der {
    height: 10px;
    width: 60%;
    background-color: #5c5f68;
    margin-bottom: 10px;
}

.linea-texto {
    height: 12px;
    width: 200px;
    background-color: #d3d3d3;
    margin-bottom: 6px;
}

.cuadro-color-der {
    width: 170px;
    height: 80px;
    background-color: #f99d7c; 
    margin-right: 50px;
}

.barra-gris-oscura {
    width: 405px;
    height: 40px;
    background-color: #5c5f68;
    margin-bottom: 7vh;
}
.seccion-final {
    display: flex;
    justify-content: space-between;
    background-color: #5c5f68;
    padding: 30px 30px;
    width: 810px;
    gap: 40px; 
    margin-left: 2vw;
    margin-right: 16vw;
}

.columna-final {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangulo-superior-final {
    width: 150px;
    height: 20px;
    background-color: #2f2f2f;
    margin-top: 50px;
    margin-bottom: 20px;
}

.linea-blanca-final {
    height: 8px;
    background-color: white;
    margin-bottom: 10px;
    width: 150px;
}

.linea-blanca-final.corta {
    width: 100px;
}

.cuadrado-final {
    width: 100px;
    height: 100px;
    background-color: rgb(214, 172, 31); 
}
.contenedor-final {
    background-color: #2a2a2a;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 15vw;
    margin-right: 15vw;
}
.footer-inferior {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-left: 15vw;
    margin-right: 15vw;
}

.columna-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    align-items: center;
}

.barra-footer {
    height: 6px;
    width: 130px;
    background-color: white;
    border-radius: 4px;
    margin-top: 30px;
}

.barra-footer.corta {
    width: 100px;
    margin-top: 10px;
}